* {
    font-family: sans-serif;
}

#login-form {
    background-color: rgb(33, 33, 33);
    color: white;
    padding: 15px 20px;
}

#login-container {
    display: flex;
    flex-direction: column;
}

#password-container {
    display: grid;
}

#password {

}

#login-button {
    background-color: #84216B;
    padding: 14px 20px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#login-button:hover:not(:active), #login-button:focus:not(:active) {
    filter: brightness(115%);
}

/*#show-password {*/
/*    width: 10%;*/
/*}*/

.forgot-password {
    color: white;
}

a {
    color: white;
}

@media only screen and (min-width: 600px) {
    * {
        color: pink;
    }
}
